.header {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    z-index: 100;
}

.row {
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    background-color: #002464;
}

.titleContainer {
    margin-bottom: 11px;
    font: bold 40px Montserrat, Lato, sans-serif;
}

.titleContainer h1 {
    text-shadow: 3px 6px rgba(0, 0, 0, 0.75);
    user-select: none;
}

.iconsContainer {
    display: flex;
    width: 150px;
    align-items: center;
    color: #ffffff;
    justify-content: space-between;
}

.icnWhite {
    color: #ffffff;
    cursor: pointer;
}

.icnBlue {
    font-size: 4.5rem;
    color: #002464;
    cursor: pointer;
}

.bottomSection {
    display: flex;
    margin: 0 11% 0 12%;
    justify-content: flex-end;
    height: 70px;
    color: #002464;
    background-color: #ffffff;
}

.bottomIcons {
    margin-top: 15px;
    cursor: pointer;
}

.mobileIconsMenu {
    display: none;
}

.mobileIconsUser {
    display: none;
}


/*///////////////////////////////////////////////////////////////////////////////*/
                                /*MEDIA QUERIES*/
/*///////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 360px) {
    .row {
        height: 100px;
    }
    .title {
        display: none;
    }
    .iconsContainer {
        display: none;
    }
    .bottomSection {
        display: none;
    }
    .mobileIconsMenu {
        display: inline-block;
    }
    .mobileIconsUser {
        display: inline-block;
    }
}

@media screen and (min-width: 361px) and (max-width: 600px) {
    .header {
        height: 100px;
    }
    .row {
        display: inline-block;
        width: 100%;
        height: 100px;
    }
    .title {
        display: none;
    }
    .iconsContainer {
        display: none;
    }
    .mobileIcons {

    }
    .bottomSection {
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .titleContainer h1 {
        display: none;
    }

    .icnWhite {
        margin: 0;
    }

    .icnBlue {
        margin: 0;
    }

    .iconsContainer {
        margin: 0 2% 0 2%;
    }

    .bottomSection {
        margin: 0 4% 0 4%;
    }

    .bottomIcons {
        margin-right: 5%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .titleContainer {
        font-size: 30px;
    }

    .icnWhite {
        margin: 0 6% 0 12%;
    }

    .icnBlue {
        margin-right: 0;
    }

    .iconsContainer {
        margin: 0 2% 0 2%;
    }

    .bottomSection {
        margin: 0 4% 0 4%;
    }

    .bottomIcons {
        margin-right: 5%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .titleContainer {
        font-size: 30px;
    }

    .icnWhite {
        margin: 0 6% 0 12%;
    }

    .icnBlue {
        margin-right: 0;
    }

    .iconsContainer {
        margin: 0 2% 0 2%;
    }

    .bottomSection {
        margin: 0 4% 0 4%;
    }

    .bottomIcons {
        margin-right: 5%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
    .siteLogo {
        width: 160px;
        height: 160px;
    }

    .titleContainer {
        font-size: 30px;
    }

    .icnWhite {
        margin: 0 6% 0 12%;
    }

    .icnBlue {
        margin-right: 0;
    }

    .iconsContainer {
        margin: 0 2% 0 2%;
    }

    .bottomSection {
        margin-right: 10%;
    }
}

@media screen and (min-width: 1501px){
    .titleContainer {
        font-size: 34px;
    }

    .icnWhite {
        margin: 0 6% 0 12%;
    }

    .iconsContainer {
        margin: 0 2% 0 5%;

    }

    .bottomSection {
        margin-right: 9%;
    }
}
