.icnWhite {
    color: #ffffff;
    cursor: pointer;
}

.icnBlue {
    font-size: 4.5rem;
    color: #002464;
    cursor: pointer;
}

.list {
    width: 290px;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: stretch;
    text-decoration: none;
}

.listText {
    width: 230px;
    margin-left: 5px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: #002464;
    border-bottom: 2px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.listText:hover {
    border-bottom: 2px solid #C58F00;
}

.listText:hover + .icnBlue {
    margin-left: 10px;
    transform: scale(2);
    text-decoration: underline;
    color: #C58F00;
}
