.footer__icon {
  color: #ffffff;
  cursor: pointer;
  size: 60px;
  width: 60px;
  height: 60px;
}

.footer__icon:hover {
  color: #dfbc08;
}

.footer__icon--container {
  display: flex;
  width: 40%;
  left: 30%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
