
.footer {
    width: 100%;
    background-color: #002464;
    user-select: none;
}

.topContainer {
    display: flex;
    height: 250px;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
}

.menuContainer {
    display: flex;
    width: 50%;
    margin-left: 5%;
}

.menuBox {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .menuBox {
        width: 200px;
    }
}

.menuBox li {
    margin-left: 30px;
    font: 500 15px Merriweather, Lato, sans-serif;
    line-height: 32px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #ffffff
}

.menuBox li:hover {
    color: #C58F00;
}

@media screen and (min-width: 0) and (max-width: 600px) {
    .menuContainer {
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 960px){
    .menuContainer {
        font-size: 11px;
    }
    .menuBox {
        font-size: 11px;
    }
    .menuItem {
        font-size: 11px;
    }
}

@media screen and (min-width: 961px) and (max-width: 1200px){
    .menuItem {
        font-size: 13px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1500px){
    .menuItem {
        font-size: 16px;
    }
}

.menuBox a {
    text-decoration: none;
}

.menuItem:hover {
    cursor: pointer;
    color: #C58F00;
    transform-origin: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 900px) {
    .menuItem {
        font-size: 12px;
        line-height: 25px;
    }
}

.mailAndFollowContainer {
    margin-right: 5%;
}

.sendMailBox {
    width: 500px;
}

@media screen and (max-width: 1000px) {
    .sendMailBox {
        margin-left: 5%;
    }
}

.sendMailBox h3 {
    margin-bottom: 10px;
    font: 500 16px Merriweather, Lato, sans-serif;
    color: #ffffff;
}

@media screen and (max-width: 1000px) {
    .sendMailBox h3 {
        margin-left: 10%;
    }
}

.sendMailBox input {
    width: 340px;
    height: 36px;
    padding-left: 20px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.15);
    border: none;
}

.sendMailBox:hover {
    background: rgba(255, 255, 255, 1);
}

.sendMailBox:focus {
    font: 500 13px Merriweather, Lato, sans-serif;
    border: 2px outset #C58F00;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    color: #000000;
}

@media screen and (max-width: 1000px) {
    .sendMailBox {
        width: 250px;
        margin-left: 10%;
    }
}

.sendMailBox button {
    width: 110px;
    height: 36px;
    color: #002464;
    background: #ffffff;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 0;
  }

.followBox {
    margin-top: 50px;
}

@media screen and (max-width: 1000px) {
    .followBox {
        margin-left: 8%;
    }
}

.followIconsBar {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
}
