.siteLogo {
    stroke: #ffffff;
    color: #ffffff;
}

.siteLogo:hover {
    cursor: pointer;
}

@media screen and (min-width: 0) and (max-width: 360px){
    .siteLogoAt360 { display: none; }
    .siteLogoAt600 { display: none; }
    .siteLogoAt800 { display: none; }
    .siteLogoAt1000 { display: none; }
    .siteLogoAt1200 { display: none; }
    .siteLogoAt1500 { display: none; }
}

@media screen and (min-width: 361px) and (max-width: 600px) {
    .siteLogoAt360 {
        position: relative;
        display: flex;
        height: 100px;
        margin-left: 5px;
        align-items: center;
        justify-content: center;
    }
    .siteLogoAt600 { display: none; }
    .siteLogoAt800 { display: none; }
    .siteLogoAt1000 { display: none; }
    .siteLogoAt1200 { display: none; }
    .siteLogoAt1500 { display: none; }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .siteLogoAt360 { display: none; }
    .siteLogoAt600 { display: block; }
    .siteLogoAt800 { display: none; }
    .siteLogoAt1000 { display: none; }
    .siteLogoAt1200 { display: none; }
    .siteLogoAt1500 { display: none; }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .siteLogoAt360 { display: none; }
    .siteLogoAt600 { display: none; }
    .siteLogoAt800 { display: block; }
    .siteLogoAt1000 { display: none; }
    .siteLogoAt1200 { display: none; }
    .siteLogoAt1500 { display: none; }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .siteLogoAt360 { display: none; }
    .siteLogoAt600 { display: none; }
    .siteLogoAt800 { display: none; }
    .siteLogoAt1000 { display: block; }
    .siteLogoAt1200 { display: none; }
    .siteLogoAt1500 { display: none; }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
    .siteLogoAt360 { display: none; }
    .siteLogoAt600 { display: none; }
    .siteLogoAt800 { display: none; }
    .siteLogoAt1000 { display: none; }
    .siteLogoAt1200 { display: block; }
    .siteLogoAt1500 { display: none; }
}

@media screen and (min-width: 1501px) {
    .siteLogoAt360 { display: none; }
    .siteLogoAt600 { display: none; }
    .siteLogoAt800 { display: none; }
    .siteLogoAt1000 { display: none; }
    .siteLogoAt1200 { display: none; }
    .siteLogoAt1500 { display: block; }
}
